.absolute-box {
  height: 100%;
  position: absolute;
  top: 0;
}

.calendar-core {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  .calendar-core__inner {
    @extend .padding-clean;
    flex: 1;
  }

  .calendar-core__marker {
    $marker-color: #b0bec5;

    @extend .absolute-box;
    z-index: 80;
    width: 10px;
    &::before {
      @extend .absolute-box;
      content: 'now';
      color: $marker-color;
      font-weight: bold;
      font-size: 1.3rem;
      width: 100%;
      position: absolute;
      height: 20px;
      top: -25px;
      left: -20px;
    }
    .calendar-core__marker-bar {
      @extend .absolute-box;
      width: 1px;
      background: $marker-color;
    }
  }

  .calendar-core__months-background {
    .calendar-core__month-column {
      @extend .absolute-box;
      border-left: 1px solid #cccccc;
      z-index: 70;
    }
  }

  .calendar-core__months-names-row {
    height: 30px;
    position: relative;
    .calendar-core__month-name {
      @extend .absolute-box;
      @extend .centering;
      color: white;
      z-index: 70;
    }
  }

  .calendar-core__season-row {
    height: 50px;
    position: relative;
    margin: 0 0 -15px;
    &:last-child {
      margin: 0;
    }

    .calendar-core__season {
      @extend .absolute-box;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      background: darkcyan;
      color: white;
      font-size: 1em;
      padding: 10px 32px 10px 10px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px,
        rgba(0, 0, 0, 0.227451) 0px 3px 10px;
      &:hover {
        z-index: 10000 !important;
        width: auto !important;
        box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px,
          rgba(0, 0, 0, 0.227451) 0px 6px 10px;
        transition: width 0.15s ease-out, margin-top 0.15s ease-out,
          box-shadow 0.15s ease-out;
      }
      &:not(:hover) {
        min-width: 0 !important;
        transition: width 0.15s ease-out, margin-top 0.15s ease-out,
          box-shadow 0.15s ease-out;
        .calendar-core__season-close {
          display: none !important;
          vertical-align: middle;
        }
      }
      .calendar-core__season-name {
        vertical-align: middle;
        cursor: default;
      }
      .calendar-core__season-close {
        background: transparent;
        border: none;
        outline: none;
        right: 5px;
        position: absolute;
        color: #ffffff !important;
        cursor: pointer;
      }
    }
  }
}
