html,
body,
#root {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif !important;
  background: #37474f;
  &.plain {
    background-color: white;
    * {
      color: gray !important;
      background-color: white !important;
    }
  }
}

.page {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  padding: 0 50px;
}
