@import './files/helpers';

p,
.container-fluid {
  @extend .padding-clean;
}
p {
  margin-bottom: 0;
}
* {
  box-sizing: border-box;
}

@import './files/layout.scss';
@import './files/global-error-banner';
@import './files/auth-bar';
@import './files/about';
@import './files/calendar-bar';
@import './files/calendar';
